<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame com.sindresorhus.Settings.FrameAutosaveName</key>
	<string>535 485 730 500 0 0 1800 1130 </string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-08-01T22:36:06Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>952940192</integer>
	<key>SwBrightness(00@2)</key>
	<real>1</real>
	<key>SwBrightness(19701707341986622068@0)</key>
	<real>1</real>
	<key>SwBrightness(4055723412@21759)</key>
	<real>1</real>
	<key>SwBrightness(778930470@2)</key>
	<real>1</real>
	<key>SwBrightness(CS-CODECPLU-23379257@2)</key>
	<real>1</real>
	<key>SwBrightness(CS-CODECPLU-23379257@3)</key>
	<real>1</real>
	<key>SwBrightness(ExtronHDMI59020@2)</key>
	<real>1</real>
	<key>SwBrightness(LGHDR4K778930470@2)</key>
	<real>1</real>
	<key>SwBrightness(LGHDR4K778930470@3)</key>
	<real>1</real>
	<key>SwBrightness(LGULTRAFINE778923709@2)</key>
	<real>1</real>
	<key>SwBrightness(LGUltraFine4055723412@2)</key>
	<real>1</real>
	<key>SwBrightness(LGUltraFine4055723412@3)</key>
	<real>1</real>
	<key>SwBrightness(SyncMaster195013919@2)</key>
	<real>1</real>
	<key>SwBrightness(VX24572313947409@3)</key>
	<real>1</real>
	<key>SwBrightness(iH283H88049421@3)</key>
	<real>1</real>
	<key>appAlreadyLaunched</key>
	<true/>
	<key>buildNumber</key>
	<integer>7123</integer>
	<key>isTouched16(LGHDR4K778930470@2)</key>
	<true/>
	<key>isTouched16(LGHDR4K778930470@3)</key>
	<true/>
	<key>isTouched16(LGULTRAFINE778923709@2)</key>
	<true/>
	<key>isTouched16(LGUltraFine4055723412@2)</key>
	<true/>
	<key>isTouched16(LGUltraFine4055723412@3)</key>
	<true/>
	<key>maxDDC16(00@2)</key>
	<integer>100</integer>
	<key>maxDDC16(778930470@2)</key>
	<integer>100</integer>
	<key>maxDDC16(CS-CODECPLU-23379257@2)</key>
	<integer>100</integer>
	<key>maxDDC16(CS-CODECPLU-23379257@3)</key>
	<integer>100</integer>
	<key>maxDDC16(ExtronHDMI59020@2)</key>
	<integer>100</integer>
	<key>maxDDC16(LGHDR4K778930470@2)</key>
	<integer>100</integer>
	<key>maxDDC16(LGHDR4K778930470@3)</key>
	<integer>100</integer>
	<key>maxDDC16(LGULTRAFINE778923709@2)</key>
	<integer>100</integer>
	<key>maxDDC16(LGUltraFine4055723412@2)</key>
	<integer>100</integer>
	<key>maxDDC16(LGUltraFine4055723412@3)</key>
	<integer>100</integer>
	<key>maxDDC16(SyncMaster195013919@2)</key>
	<integer>100</integer>
	<key>maxDDC16(VX24572313947409@3)</key>
	<integer>100</integer>
	<key>maxDDC16(iH283H88049421@3)</key>
	<integer>100</integer>
	<key>maxDDC18(00@2)</key>
	<integer>100</integer>
	<key>maxDDC18(778930470@2)</key>
	<integer>100</integer>
	<key>maxDDC18(CS-CODECPLU-23379257@2)</key>
	<integer>100</integer>
	<key>maxDDC18(CS-CODECPLU-23379257@3)</key>
	<integer>100</integer>
	<key>maxDDC18(ExtronHDMI59020@2)</key>
	<integer>100</integer>
	<key>maxDDC18(LGHDR4K778930470@2)</key>
	<integer>100</integer>
	<key>maxDDC18(LGHDR4K778930470@3)</key>
	<integer>100</integer>
	<key>maxDDC18(LGULTRAFINE778923709@2)</key>
	<integer>100</integer>
	<key>maxDDC18(LGUltraFine4055723412@2)</key>
	<integer>100</integer>
	<key>maxDDC18(LGUltraFine4055723412@3)</key>
	<integer>100</integer>
	<key>maxDDC18(SyncMaster195013919@2)</key>
	<integer>100</integer>
	<key>maxDDC18(VX24572313947409@3)</key>
	<integer>100</integer>
	<key>maxDDC18(iH283H88049421@3)</key>
	<integer>100</integer>
	<key>maxDDC98(00@2)</key>
	<integer>100</integer>
	<key>maxDDC98(778930470@2)</key>
	<integer>100</integer>
	<key>maxDDC98(CS-CODECPLU-23379257@2)</key>
	<integer>100</integer>
	<key>maxDDC98(CS-CODECPLU-23379257@3)</key>
	<integer>100</integer>
	<key>maxDDC98(ExtronHDMI59020@2)</key>
	<integer>100</integer>
	<key>maxDDC98(LGHDR4K778930470@2)</key>
	<integer>100</integer>
	<key>maxDDC98(LGHDR4K778930470@3)</key>
	<integer>100</integer>
	<key>maxDDC98(LGULTRAFINE778923709@2)</key>
	<integer>100</integer>
	<key>maxDDC98(LGUltraFine4055723412@2)</key>
	<integer>100</integer>
	<key>maxDDC98(LGUltraFine4055723412@3)</key>
	<integer>100</integer>
	<key>maxDDC98(SyncMaster195013919@2)</key>
	<integer>100</integer>
	<key>maxDDC98(VX24572313947409@3)</key>
	<integer>100</integer>
	<key>maxDDC98(iH283H88049421@3)</key>
	<integer>100</integer>
	<key>value16(00@2)</key>
	<real>1</real>
	<key>value16(19701707341986622068@0)</key>
	<real>1</real>
	<key>value16(4055723412@21759)</key>
	<real>1</real>
	<key>value16(778930470@2)</key>
	<real>1</real>
	<key>value16(CS-CODECPLU-23379257@2)</key>
	<real>1</real>
	<key>value16(CS-CODECPLU-23379257@3)</key>
	<real>1</real>
	<key>value16(ColorLCD155241054@1)</key>
	<real>1</real>
	<key>value16(ColorLCD|155241054@1)</key>
	<real>0.5</real>
	<key>value16(ColorLCD|CS-CODECPLU-2155241054@1)</key>
	<real>0.6875</real>
	<key>value16(ColorLCD|ExtronHDMI155241054@1)</key>
	<real>0.6875</real>
	<key>value16(ColorLCD|SyncMaster155241054@1)</key>
	<real>0.5</real>
	<key>value16(ExtronHDMI59020@2)</key>
	<real>1</real>
	<key>value16(LGHDR4K778930470@2)</key>
	<real>1</real>
	<key>value16(LGHDR4K778930470@3)</key>
	<real>1</real>
	<key>value16(LGULTRAFINE778923709@2)</key>
	<real>1</real>
	<key>value16(LGUltraFine4055723412@2)</key>
	<real>1</real>
	<key>value16(LGUltraFine4055723412@3)</key>
	<real>1</real>
	<key>value16(SyncMaster195013919@2)</key>
	<real>1</real>
	<key>value16(VX24572313947409@3)</key>
	<real>1</real>
	<key>value16(iH283H88049421@3)</key>
	<real>1</real>
	<key>value18(00@2)</key>
	<real>0.75</real>
	<key>value18(778930470@2)</key>
	<real>0.75</real>
	<key>value18(CS-CODECPLU-23379257@2)</key>
	<real>0.75</real>
	<key>value18(CS-CODECPLU-23379257@3)</key>
	<real>0.75</real>
	<key>value18(ExtronHDMI59020@2)</key>
	<real>0.75</real>
	<key>value18(LGHDR4K778930470@2)</key>
	<real>0.75</real>
	<key>value18(LGHDR4K778930470@3)</key>
	<real>0.75</real>
	<key>value18(LGULTRAFINE778923709@2)</key>
	<real>0.75</real>
	<key>value18(LGUltraFine4055723412@2)</key>
	<real>0.75</real>
	<key>value18(LGUltraFine4055723412@3)</key>
	<real>0.75</real>
	<key>value18(SyncMaster195013919@2)</key>
	<real>0.75</real>
	<key>value18(VX24572313947409@3)</key>
	<real>0.75</real>
	<key>value18(iH283H88049421@3)</key>
	<real>0.75</real>
	<key>value98(00@2)</key>
	<real>0.11999999731779099</real>
	<key>value98(778930470@2)</key>
	<real>0.11999999731779099</real>
	<key>value98(CS-CODECPLU-23379257@2)</key>
	<real>0.11999999731779099</real>
	<key>value98(CS-CODECPLU-23379257@3)</key>
	<real>0.11999999731779099</real>
	<key>value98(ExtronHDMI59020@2)</key>
	<real>0.11999999731779099</real>
	<key>value98(LGHDR4K778930470@2)</key>
	<real>0.11999999731779099</real>
	<key>value98(LGHDR4K778930470@3)</key>
	<real>0.11999999731779099</real>
	<key>value98(LGULTRAFINE778923709@2)</key>
	<real>0.11999999731779099</real>
	<key>value98(LGUltraFine4055723412@2)</key>
	<real>0.11999999731779099</real>
	<key>value98(LGUltraFine4055723412@3)</key>
	<real>0.11999999731779099</real>
	<key>value98(SyncMaster195013919@2)</key>
	<real>0.11999999731779099</real>
	<key>value98(VX24572313947409@3)</key>
	<real>0.11999999731779099</real>
	<key>value98(iH283H88049421@3)</key>
	<real>0.11999999731779099</real>
</dict>
</plist>
