[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Pierce Kelaita
	email = pierce@kelaita.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[branch]
	autoSetupMerge = simple
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
